@font-face {
    font-family: 'Pokemon Solid';
    src: url('/fonts/PokemonSolidNormal-xyWR.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    background-color: #fdeb71;
    background-image: url('path-to-your-pokemon-background-image');
    margin: 0;
    padding: 0;
}

.pokemon-name {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 15px; /* Increase the font size */
    color: #007fbf; /* Adjust color if needed */
    text-decoration: none;
    display: block; /* Ensures the link occupies full width */
    margin: 5px 0; /* Adds some space between the names */
    letter-spacing: 0px; /* Adjust letter spacing */
}

    .pokemon-name:hover {
        text-decoration: underline; /* Add underline on hover for better UX */
    }

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #50a3a2;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

    header a {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
    }

    header li {
        float: left;
        display: inline;
        padding: 0 20px 0 20px;
    }

    header #branding {
        float: left;
    }

        header #branding h1 {
            margin: 0;
        }

    header nav {
        float: right;
        margin-top: 10px;
    }

    header .highlight, header .current a {
        color: #e8491d;
        font-weight: bold;
    }

    header a:hover {
        color: #cccccc;
        font-weight: bold;
    }

#showcase {
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
}

    #showcase h1 {
        margin-top: 100px;
        font-size: 55px;
        margin-bottom: 10px;
    }

    #showcase p {
        font-size: 20px;
    }
